.container {
    display: flex;
    /* margin-top: 1.4rem; */
    padding: 1rem;
    background-color: #ffffff12;
    backdrop-filter: blur(100px);
    justify-content: space-between;
    align-items: center;
    color: #5d5fc3;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.light-mode .container{
    background-color: #5d5fc336;
}

.div1 img{
    width: 100px;
    height: 100px;
    scale: 1.4;
    /* border-radius: 50%; */
    margin-left: 1rem;
    position: fixed;
    top: -.3rem;
    z-index: -10;
    /* box-shadow: 0 0 20px -3px #fff; */
}

.light-mode .div1{
    color: #00181c;
}

.container ul{
    display: flex;
    list-style: none;
}

.container li{
    padding: .6rem 1rem;
    font-size: larger;
    background-color: #4b4b4b;
    border-radius: 12rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container .light-mode li{
    background-color: #b9b9b999;
}

.container li::after{
    content: "";
    background-color: #53c926;
    display: block;
    height: 230%;
    width: 100%;
    position: absolute;
    left:0;
    bottom: -105px;
    border-radius: 40% 40% 0 0;
    z-index: 0;
    pointer-events: none;
}

.container li:hover::after{
    animation: animate 0.5s ease forwards;
    z-index: 0;
}

@keyframes animate{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-110%);
    }
}

.container a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: large;
    z-index: 2;
    position: relative;
    display: block;
}

.container .light-mode a{
    color:black;
}

.container .light-mode  li::after{
    background-color: #bb86fc;
}

@media (max-width: 768px) {
    .container li::after{
        display: none;
    }  
}