@font-face {
  font-family: "bri";
  src: url('65ee8dd4ca50180798977024_BricolageGrotesque-Bold.ttf');
}
@font-face {
  font-family: "brilight";
  src: url('BricolageGrotesque.ttf');
}
body {
  background-image: radial-gradient( #53C926 -70%, #00181c 30%);
  color: #ffffff;
  font-family: "brilight";
}

body.light-mode {
  background-image: none;
  background-color: hsla(0, 0%, 95%, 0.927);
  color: #000000;
}

.rgstrdv1, .lgndv1, .hmdv2, .hmdv4, .abtdv1, .cntctdv1{
    display: flex;
    justify-content: space-around;
}

.hmdv4, .abtdv2{
    margin-top: 2rem;
}

.cntctdv3{
    margin-top: 2.6rem;
    margin-bottom: 0;
}

.hmdv4 :nth-child(2){
    margin-top: 2rem;
}

.hmdv3, .abtdv4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    font-size: x-large;
    background-color: #ffffff1b;
    backdrop-filter: blur(10px);
    color: #fff;
    width: 74vw;
    margin: auto;
    margin-top: 2.8rem;
    padding: 1rem;
    border-radius: .7rem;
}

.light-mode .abtdv4, .light-mode .hmdv3 {
  background-color: hsl(86.67,100%,94.47%);
  box-shadow: 0 0 100px -43px #000000;
  color: #000;
}

.lrnbtn{
  background: #656bff;
  padding: .9rem;
  margin: 0rem 2rem;
  font-size: large;
  border-radius: 1rem;
  color: white;
  font-weight: 700;
}

.light-mode .lrnbtn{
  background: hsl(0, 0%, 80%);
  color: black;
}

.abtdv4{
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.hmdv3 div, .abtdv4 div{
    text-align: center;
    background-color: transparent;
}

.hmdv3 div *, .abtdv2 *, .abtdv4 *{
    background-color: transparent;
    margin: 0rem;
}

.rgstrdv2{
    padding-top: 3.3rem;
}

.rgstrdv3, .lgndv3, .hmdv2, .hmdv4, .abtdv2, .cntctdv3, .cntctdv2, .errdv1{
    font-size: larger;
}

form div{
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
}

form div input{
    height: 2rem;
    width: 22rem;
    border: none;
    background-color: #3b3b3b;
    border-radius: .2rem;
    padding-left: .6rem;
    color: white;
  }
  
  body.light-mode form div input{
    background-color: #3b3b3b39;
    color: #000000;
}

form div button, .cntctdv3 form button{
    width: 9rem;
}

.hmbtn{ 
    background-color: #53C926;
    padding: .9rem;
    font-size: large;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 700;
}

.light-mode .hmbtn{
    background-color: #656bff;
}

.abtdv2 :nth-child(9) button{
    height: 2rem;
    width: 8rem;
    border: .01rem solid white;
    border-radius: .5rem;
    color: rgb(45, 41, 41);
    font-weight: 700;
}

.ftrbtn{
    background-color: #fbfbfb1c;
    backdrop-filter: blur(10px);
    color: white;
    font-weight: 400;
    text-align: center;
    padding: .5rem 0rem;
}

.light-mode .ftrbtn{
    background-color: hsl(238, 100%, 70%);
    color: #fff;
}

.abtimg{
    height: 30rem;
    width: 100%;
    margin-top: 3rem;
}

.abtdv2 p{
    margin-bottom: 1.5rem;
    font-size: medium;
}

.cntctdv3 form :nth-child(3) textarea{
    height: 13rem;
    background-color: #3b3b3b;
    color: white;
    padding-top: .4rem;
    padding-left: .6rem;
    font-size: large;
    border-radius: .2rem;
}

.cntctdv2 img{
    margin-top: -2rem;
}

.errdv1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@keyframes anm1{
    0% {
        color: hsl(350, 56%, 78%);
    }
   
    100% {
        color: hsl(239, 56%, 80%);
    }
    
}

.errdv1 h1{
    font-size: 19rem;
    z-index: 0;
    margin-top: 0;
    margin-bottom: -1rem;
    line-height: 18rem;
    background-clip: text;
    animation: anm1 1s linear infinite alternate;
}

.errdv1 p, .errdv1 h5{
    margin: .4rem;
    z-index: 1;
}

.errdv1 div{
    display: flex;
    justify-content: center;
    column-gap: 1.3rem;
    margin-bottom: 6rem;
    margin-top: .6rem;
}

.errdv1 button{
    color: #5d5fc3;
    padding: .3rem 1rem;
    border: 1px solid #656bff;
    border-radius: 1rem;
}

.errdv1 button:hover{
    background-color: #656bff;
    color: #fff;
    font-weight: 700;
    transition: all .3s ease .1s;
}

.cntctbtn{
    margin-bottom: 1rem;
}

.srvch1{
    margin: 2rem 4rem;
    color:#fff;
}

body.light-mode .srvch1, .light-mode .srvcdv2 {
  color:#000000;
}


.srvcdv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    border: .08rem solid white;
    border-radius: 1.5rem;
    color: #fff;
    padding: 0 2rem;
}

.srvcdv2:hover{
    box-shadow: 0 0 65px -23px #44a727;
    transition: all .3s ease .1s;
}

.srvcdv1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 3rem;
}

.admndv1{
    display: flex;
    flex-direction: row;
    margin: 5rem 0;
    column-gap: 4rem;
    border: .1rem solid #5d5fc3;
}

.admnul{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    margin-top: 5rem;
}

.admndv3 {
    padding: 2rem;
  }
  
  table {
    width: 100%;
    background: #333;
    color: white;
    box-shadow: 0px 4px 8px #f3f0f01a;
    border-radius: 10px;
  }
  
  .admndv3 h1 {
    color: #ddd;
  }

  th, td {
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background: #3b3b3b;
  }
  
  .userHead, .userBody {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr 1fr;
  }
  .contactHead, .contactBody {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
  }
  .serviceHead, .serviceBody {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
  }
  
  tbody tr:hover {
    background: hsl(0, 0%, 30%);
  }
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.edit {
    background: #c6f6d5;
    color: #22543d;
  }
  
  button.delete {
    background: #3b82f6;
    color: white;
  }

  /* About.css */

.abtdv1 {
  padding: 20px;
}

.abtdv1 p, .abtdv4 p{
  font-size: x-large;
}

.abtdv4 > div {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

@media (max-width: 768px) {
  .abtdv1 {
    flex-direction: column;
    align-items: center;
  }

  .abtdv2 > div {
    margin: 10px 0;
  }

  .abtdv4 {
    flex-direction: column;
  }

  .abtdv4 > div {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .abtdv2 > div {
    min-width: 100%;
  }

  .abtdv4 > div {
    min-width: 100%;
  }
}
/* Home.css */

.hmdv1 {
    padding: 20px;
  }

  .hmdv1 p{
    font-size:x-large;
  }

  .hmImg{
    width: 100%;
    position: relative;
    left: -8.5rem;
    /* top: -10rem; */
  }
  
  .hmdv2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .hmdv2 > div {
    flex: 1;
    min-width: 300px;
    margin: 10px;
  }
  
  .hmdv2 img {
    max-width: 100%;
    height: auto;
  }
  
  .hmdv3 {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .hmdv3 > div {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }
  
  .hmdv4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .hmdv4 > div {
    flex: 1;
    min-width: 300px;
    margin: 10px;
  }
  
  .hmdv4 img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .hmdv2 {
      flex-direction: column;
      align-items: center;
      /* position: relative;
      z-index: 0;
      transform: none !important;
      will-change: auto !important; */
    }

    .hmdv2 h1,
.hmdv2 p,
.hmdv2 button {
  transform: none !important;
}
  
    .hmdv2 > div {
      margin: 10px 0;
    }
  
    .hmdv3 {
      flex-direction: column;
    }
  
    .hmdv3 > div {
      margin: 10px 0;
    }
  
    .hmdv4 {
      flex-direction: column;
    }
  
    .hmdv4 > div {
      margin: 10px 0;
    }
  }
  
  @media (max-width: 480px) {
    .hmdv2 > div {
      min-width: 100%;
    }
  
    .hmdv3 > div {
      min-width: 100%;
    }

    /* .hmdv2{
      position: relative;
      z-index: 0;
      transform: none !important;
      will-change: auto !important;
    } */

    .hmdv2 h1,
.hmdv2 p,
.hmdv2 button {
  transform: none !important;
}
  
    .hmdv4 > div {
      min-width: 100%;
    }
  }

  /* Contact.css */

  @media (max-width: 768px) {
    .cntctdv2 {
      flex-direction: column;
      align-items: center;
    }
  
    .cntctdv2 img {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .cntctdv3 form {
      width: 100%;
    }

    .cntctdv3 form input, .cntctdv3 form textarea {
      width: 90%;
    }

    .cntctimg {
      width: 100%;
    }

    .cntctdv1 {
        display: flex;
        flex-direction: column;
      }
  }

  /* Services.css */

.srvch1 {
  text-align: center;
  margin-bottom: 20px;
}

.srvcdv1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.srvcdv2 {
  flex: 1 1 300px;
  background-color: #102f2c;
  margin-right: 30px;
  padding: 20px;
  border: 1.7px solid #44a727;
  border-radius: 8px;
  text-align: center;
}

.light-mode .srvcdv2{
  background-color: #f3ffe8;
  border: 1.7px solid #44a727;
}

.srvcdv2 img {
  max-width: 100%;  
  border-radius: 8px;
}

.srvcdv3 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .srvcdv1 {
    flex-direction: column;
    align-items: center;
  }

  .srvcdv2 {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .srvcdv2 {
    padding: 10px;
  }

  .srvcdv3 {
    flex-direction: column;
    align-items: center;
  }

  .srvcdv3 p {
    margin: 5px 0;
  }
}

/* Login.css */

@media (max-width: 768px) {
  .lgndv1 {
    flex-direction: column;
  }

  .lgndv2,
  .lgndv3 {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .lgndv3 {
    padding: 10px;
  }

  .lgndv3 form input {
    width: 90%;
  }

  .lgnimg {
    width: 100%;
  }

  .lgndv3 button {
    padding: 8px 16px;
  }
}

/* SignUp.css */

@media (max-width: 768px) {
  .rgstrdv1 {
    flex-direction: column;
  }

  .rgstrdv2,
  .rgstrdv3 {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {

  .rgstrimg {
    width: 100%;
  }

  .rgstrdv3 input {
    width: 90%;
  }

  .rgstrdv3 button {
    padding: 8px 16px;
  }
}

/* Admin-Layout.css */

.admndv1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.admndv2 {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.admnul {
  list-style-type: none;
  padding: 0;
}

.admnul li {
  margin-bottom: 10px;
}

.admnul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.admndv3 {
  flex: 3;
  min-width: 300px;
  margin: 10px;
}

@media (max-width: 768px) {
  .admndv1 {
    flex-direction: column;
    align-items: center;
  }

  .admndv2,
  .admndv3 {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .admndv2,
  .admndv3 {
    padding: 10px;
  }

  .admnul li a {
    font-size: 14px;
  }
}

/* Navbar.css */

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
}


.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu ul li {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .nav-menu li{
    padding:1.3rem;
  }

  .nav-menu li::after{
    display: none;
  }
  
  .nav-menu li:hover {
    background-color: hsl(188, 100%, 21%);
  }
  
  .light-mode .nav-menu {
    background-color: hsl(0, 0%, 89%);
  }
  
  .light-mode .nav-menu li{
    padding:1.3rem;
  }
  
  .light-mode .nav-menu li:hover {
    background-color: hsl(0, 0%, 69%);
  }
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: hsl(189, 100%, 8%);
  }
  
  .nav-menu.active {
    display: flex;
    position: fixed;
    opacity:1.3;
    z-index: 9999 !important;
    will-change: transform, opacity !important;
    isolation: isolate;
  }

  .nav-menu ul {
    flex-direction: column;
    width: 90%;
  }

  .nav-menu ul li {
    width: 90%;
    text-align: center;
    margin: 10px 0px;
  }

  .nav-menu ul li a {
    width: 100%;
    padding: 10px 0px;
  }
}

.ltmdbtn {
 color: #000;
 background-color: #ffffffec;
 border-radius: 50%;
 font-size: x-large;
 font-weight: 900;
 position: fixed;
 right:2rem;
}

.light-mode .ltmdbtn {
  border-radius: 50%;
  color: #fff;
  background-color: #0000009e;
  font-size: x-large;
  font-weight: 900;
  position: fixed;
  right:2rem;
}

.light-mode .admndv3 h1{
  color: #000000;
}